USE [master]
GO
/****** Object:  Database [ЛР4]    Script Date: 16.09.2025 13:45:47 ******/
CREATE DATABASE [ЛР4]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ЛР4', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ЛР4.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'ЛР4_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ЛР4_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ЛР4].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ЛР4]
GO
/****** Object:  User [APETVC\Харчук_ИА]    Script Date: 16.09.2025 13:45:48 ******/
CREATE USER [APETVC\Харчук_ИА] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [APETVC\Водопадов_КА]    Script Date: 16.09.2025 13:45:48 ******/
CREATE USER [APETVC\Водопадов_КА] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[drivers]    Script Date: 16.09.2025 13:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[drivers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [char](100) NOT NULL,
	[license] [int] NOT NULL,
	[phone] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[license] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fuel_log]    Script Date: 16.09.2025 13:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fuel_log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[vehicles_id] [int] NOT NULL,
	[driver_id] [int] NOT NULL,
	[fuel_amount] [decimal](8, 2) NOT NULL,
	[cost] [decimal](10, 2) NOT NULL,
	[mileage] [int] NOT NULL,
	[date] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inspections]    Script Date: 16.09.2025 13:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inspections](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[vehicle_id] [int] NOT NULL,
	[defects] [text] NULL,
	[date] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vehicles]    Script Date: 16.09.2025 13:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vehicles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[number] [char](20) NOT NULL,
	[brand] [varchar](50) NOT NULL,
	[model] [varchar](50) NOT NULL,
	[year] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[waybills]    Script Date: 16.09.2025 13:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[waybills](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[number] [int] NOT NULL,
	[vehicle_id] [int] NOT NULL,
	[driver_id] [int] NOT NULL,
	[route_id] [int] NULL,
	[start_time] [datetime] NULL,
	[end_time] [datetime] NULL,
	[start_mileage] [int] NOT NULL,
	[end_mileage] [int] NULL,
	[fuel_issued] [decimal](8, 2) NOT NULL,
	[date] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пользователь]    Script Date: 16.09.2025 13:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пользователь](
	[Фамилия] [nvarchar](50) NULL,
	[Имя] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Пароль] [nvarchar](50) NULL,
	[КодСлово] [nvarchar](50) NULL,
	[Ответ] [nvarchar](50) NULL,
	[КодСекретного] [int] NULL,
	[КодПользователя] [int] NOT NULL,
 CONSTRAINT [PK_Пользователь] PRIMARY KEY CLUSTERED 
(
	[КодПользователя] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[СекретныйВопрос]    Script Date: 16.09.2025 13:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[СекретныйВопрос](
	[КодСекретного] [int] NOT NULL,
	[СекретныйВопрос] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_СекретныйВопрос] PRIMARY KEY CLUSTERED 
(
	[КодСекретного] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [idx_date]    Script Date: 16.09.2025 13:45:48 ******/
CREATE NONCLUSTERED INDEX [idx_date] ON [dbo].[waybills]
(
	[date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_vehicle]    Script Date: 16.09.2025 13:45:48 ******/
CREATE NONCLUSTERED INDEX [idx_vehicle] ON [dbo].[waybills]
(
	[vehicle_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[fuel_log]  WITH CHECK ADD  CONSTRAINT [FK_fuelLog_drivers] FOREIGN KEY([driver_id])
REFERENCES [dbo].[drivers] ([id])
GO
ALTER TABLE [dbo].[fuel_log] CHECK CONSTRAINT [FK_fuelLog_drivers]
GO
ALTER TABLE [dbo].[fuel_log]  WITH CHECK ADD  CONSTRAINT [Fk_fuelLog_vehicles] FOREIGN KEY([vehicles_id])
REFERENCES [dbo].[vehicles] ([id])
GO
ALTER TABLE [dbo].[fuel_log] CHECK CONSTRAINT [Fk_fuelLog_vehicles]
GO
USE [master]
GO
